h1,h2,h3,h4,h5,h6,div,p{
  color:#fff;
}
body{
  background: rgb(19,17,54);
  background: linear-gradient(top, rgba(19,17,54,1) 9%, rgba(20,38,79,1) 100%);
}
.card_home{
  width: 50%;
  margin: auto;
  text-align: center;
}
.card_home .card{
  width: 100%;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #fff;
}


